.salary-details {
    background: #B4C5D8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 550px;
    margin: auto;
    margin-top: 10%;
    /* font-family: 'Arial', sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
  }
  .salary-details:hover {
    background-color: #a1a4bc;
    color: #fff;
    
  }

  
 
  .receipt-header {
    text-align: center;
    background: #06142E;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  
  .receipt-header h1 {
    font-size: 24px;
    color: #f3f2f2;
    margin-bottom: 5px;
  }
  
  .receipt-header h2 {
    font-size: 20px;
    color: #9f8686;
  }
  
  .receipt-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .receipt-row {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;;
  }
  
  .receipt-row p {
    margin: 0;
    font-size: 16px;
  }
  .receipt-row h2 {
    margin-left: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  strong {
    color: #444;
  }
  
  @media (max-width: 500px) {
    .salary-details {
      width: 100%;
      padding: 15px;
    }
  
    .receipt-row {
      flex-direction: column;
      gap: 5px;
    }
  
    .receipt-header h1 {
      font-size: 20px;
    }
  
    .receipt-header h2 {
      font-size: 18px;
      
    }
  }
  